<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDisplayName</key>
    <string>{{Name}}</string>
    <key>CFBundleIdentifier</key>
    <string>com.{{Scheme}}.scheme_register</string>
    <key>CFBundleName</key>
    <string>{{Name}}</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>{{Name}}</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>{{Scheme}}</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>3809.100</string>
    <key>DTSDKName</key>
    <string>macosx10.13</string>
    <key>DTXcode</key>
    <string>0931</string>
    <key>DTXcodeBuild</key>
    <string>9E501</string>
    <key>KSProductID</key>
    <string>com.{{Scheme}}.scheme_register</string>
    <key>KSVersion</key>
    <string>2.0.0</string>
    <key>LSFileQuarantineEnabled</key>
    <true/>
    <key>LSHasLocalizedDisplayName</key>
    <string>1</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.10.0</string>
    <key>NSPrincipalClass</key>
    <string>BrowserCrApplication</string>
    <key>NSRequiresAquaSystemAppearance</key>
    <false/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <false/>
    <key>NSUserActivityTypes</key>
    <array>
      <string>NSUserActivityTypeBrowsingWeb</string>
    </array>
  </dict>
</plist>
